@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap");

:root {
  /* color */
  --background-color: #eff7f8;
  --font-color: #100b1a;
}

* {
  background-color: (var(--background-color));
  font-family: "Nunito", sans-serif;
  color: var(--font-color);
}

/* hero */
.hi {
  font-weight: 700;
  color: var(--font-color);
}

.name {
  font-weight: 600;
  color: var(--font-color);
}

.hero {
  background-color: #eae0d5;
  height: 110vh;
  margin-top: -110px;
}

.content-hero {
  padding-top: 25vh;
}

.box {
  background-color: #323232;
  height: max-content;
}

.subtitle {
  color: #3f3d56;
}

.box-child {
  background-color: white;
}

footer {
}

.icon {
  height: 25;
}

.btn {
  background-color: var(--font-color);
  color: white;
}
